# These are files local to my machine that I don't want messing up the GitHub repo.
.DS_Store
.vscode
# My personal preference, the program should create it's own at startup.
App/pref/savedPaths.txt
# Notes and test stuff are kept here, so they aren't a part of the repo.
Temp
# You'll have to build your own pycache, sorry!
__pycache__
# This is so I can build the app binary.
QuadExporter.spec